name: Dependabot Update

on:
  pull_request_target:
    branches:
      - main

jobs:
  build-and-update:
    if: ${{ github.actor == 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    environment: dependabot_update

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup Node.js environment
        uses: actions/setup-node@v1
        with:
          node-version: "15"

      - name: Install dependencies
        run: yarn

      - name: Clean
        run: yarn clean

      - name: Fix
        run: yarn fix

      - name: Test (update snapshots)
        run: yarn test -u

      - name: Build
        run: yarn build

      - name: Add and commit
        uses: EndBug/add-and-commit@v7.2.0
        with:
          default_author: github_actions
          message: Fix lint errors and build
