name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v1
        with:
          node-version: '12'

      - name: Install dependencies
        run: yarn

      - name: Clean
        run: yarn clean

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test

      - name: Build
        run: yarn build

      - name: Ensure clean
        run: |
          git status --porcelain
          test -z "$(git status --porcelain)"
